<div style="display: flex; justify-content: center;">
    <div [formGroup]="voxPopFormGroup" class="vox-pop-card">
        <h1 style="font-size: 20px">Write your submission</h1>
        <div class="submission-divider">
        </div>
        <textarea name="submissionArea" formControlName="submissionArea" #submissionArea  
               required placeholder="Write your sub here, bro. . ." class="submission-box">
        </textarea>
        <button class="submission-button" (click)="submit(submissionArea.value)">Submit</button>
    </div>
</div>