<div style="background-color: inherit">
    <div style="display: flex; justify-content: space-between;">
        <h1 mat-dialog-title>Edit Submission</h1>
        <button (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                <line x1="19" y1="5" x2="5" y2="19" fill="#fff" stroke="#000" stroke-miterlimit="10"/>
                <line x1="5" y1="5" x2="19" y2="19" fill="#fff" stroke="#000" stroke-miterlimit="10"/>
            </svg>
        </button>
    </div>
    <div mat-dialog-content>
        <div #originalText>Original: {{post.pop.submissions[post.pop.submissions.length - 1]}}</div>
        <div #editText *ngIf="post.edit.length > 0">Edit: {{post.edit}}</div>
        <textarea #editSubmission [textContent]="dashboardService.getPostSubmission(post)"></textarea>
    </div>
    <div mat-dialog-actions>
        <button (click)="confirm(editSubmission.value)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                <polyline points="4 11.5 10 17.5 21 6.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
            </svg>
        </button>
    </div>
</div>
