<div class="main">
    <div class="body" *ngIf="gotSubmissions; else gotNothing">
        <div class="rejects">
            <h1 class="card-column-header">Rejected</h1>
            <div class="card-column">
                <div *ngFor="let post of rejectedPosts; index as i" class="card-container" [style.border]="getBorder(post.reviewStatus)">
                    <div class="card-body">
                        <div class="card-header">
                            <span class="post-details">{{dashboardService.getPostIP(post)}} | {{post.UUID}}</span>
                            <div class="button-container">
                                <!-- approve -->
                                <button class="dashboard-button" (click)="handlePost(post, i, 2)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="4 11.5 10 17.5 21 6.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                                <!-- super approve -->
                                <button class="dashboard-button" (click)="handlePost(post, i, 3)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="19 10 12 3 5 10" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                        <line x1="12" y1="3" x2="12" y2="22" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">{{dashboardService.getMostRecentSubmission(post)}}</div>
                        <div class="card-footer">
                            <button class="dashboard-button" (click)="editPost(post)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                    <polygon points="3 21 4 16.5 17.5 3 18.5 3 21 5.5 21 6.5 7.5 20 3 21" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    <line x1="15.5" y1="4.5" x2="19.5" y2="8.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="unmoderated">
            <h1 class="card-column-header">Unmoderated</h1>
            <div class="card-column">
                <div *ngFor="let post of unmoderatedPosts; index as j" class="card-container" [style.border]="getBorder(post.reviewStatus)">
                    <div class="card-body">
                        <div class="card-header">
                            <span class="post-details">{{dashboardService.getPostIP(post)}} | {{post.UUID}}</span>
                            <div class="button-container">
                                <!-- reject -->
                                <button class="dashboard-button" (click)="handlePost(post, j, 1)"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24"> 
                                        <polyline points="3 7 5 7 21 7" fill="none" stroke="#000"/>
                                        <path d="M18.5,7l-1,14H6.5L5.5,7M8,7l.5-3.5h7L16,7" fill="none" stroke="#000"/>
                                        <line x1="13.5" y1="16.5" x2="13.5" y2="11.5" fill="none" stroke="#000"/>
                                        <line x1="10.5" y1="16.5" x2="10.5" y2="11.5" fill="none" stroke="#000"/>
                                    </svg>
                                </button>
                                <!-- approve -->
                                <button class="dashboard-button" (click)="handlePost(post, j, 2)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="4 11.5 10 17.5 21 6.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                                <!-- super approve -->
                                <button class="dashboard-button" (click)="handlePost(post, j, 3)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="19 10 12 3 5 10" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                        <line x1="12" y1="3" x2="12" y2="22" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">{{dashboardService.getMostRecentSubmission(post)}}</div>
                        <div class="card-footer">
                            <button class="dashboard-button" (click)="editPost(post)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                    <polygon points="3 21 4 16.5 17.5 3 18.5 3 21 5.5 21 6.5 7.5 20 3 21" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    <line x1="15.5" y1="4.5" x2="19.5" y2="8.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="approved">
            <h1 class="card-column-header">Approved</h1>
            <div class="card-column">
                <div *ngFor="let post of approvedPosts; index as k" class="card-container" [style.border]="getBorder(post.reviewStatus)">
                    <div class="card-body">
                        <div class="card-header">
                            <span class="post-details">{{dashboardService.getPostIP(post)}} | {{post.UUID}}</span>
                            <div class="button-container">
                                <!-- reject -->
                                <button class="dashboard-button" (click)="handlePost(post, k, 1)"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24"> 
                                        <polyline points="3 7 5 7 21 7" fill="none" stroke="#000"/>
                                        <path d="M18.5,7l-1,14H6.5L5.5,7M8,7l.5-3.5h7L16,7" fill="none" stroke="#000"/>
                                        <line x1="13.5" y1="16.5" x2="13.5" y2="11.5" fill="none" stroke="#000"/>
                                        <line x1="10.5" y1="16.5" x2="10.5" y2="11.5" fill="none" stroke="#000"/>
                                    </svg>
                                </button>
                                <!-- approve -->
                                <button class="dashboard-button" (click)="handlePost(post, k, 2)" *ngIf="post.reviewStatus !== 2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="4 11.5 10 17.5 21 6.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                                <!-- super approve -->
                                <button class="dashboard-button" (click)="handlePost(post, k, 3)" *ngIf="post.reviewStatus !== 3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                        <polyline points="19 10 12 3 5 10" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                        <line x1="12" y1="3" x2="12" y2="22" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">{{dashboardService.getMostRecentSubmission(post)}}</div>
                        <div class="card-footer">
                            <button class="dashboard-button" (click)="editPost(post)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                    <polygon points="3 21 4 16.5 17.5 3 18.5 3 21 5.5 21 6.5 7.5 20 3 21" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                    <line x1="15.5" y1="4.5" x2="19.5" y2="8.5" fill="none" stroke="#000" stroke-miterlimit="10"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="floating-submit-button" (click)="submit()">Submit Reviewed Posts</button>
        </div>
    </div>
    <ng-template #gotNothing>
        Nobody here but us chickens!
    </ng-template>
</div> 