@use '@angular/material' as mat;
@include mat.core();

$hfht-website-primary: mat.define-palette(mat.$grey-palette);
$hfht-website-accent: mat.define-palette(mat.$amber-palette, 800, 700, 900);
$hfht-website-warn: mat.define-palette(mat.$red-palette);

$hfht-website-theme: mat.define-dark-theme((
  color: (
    primary: $hfht-website-primary,
    accent: $hfht-website-accent,
    warn: $hfht-website-warn,
  )
));

@include mat.all-component-themes($hfht-website-theme);

$link-blue: 0, 184, 255;
$icon-grey: 166, 166, 166;
$grey: 34, 34, 34;

html, body { 
  height: 100%; 
}

body {
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: white;
}

textarea {
  resize: none;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border-style: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

line,
polyline,
polygon,
path {
  stroke: white;
}

:root mat-dialog-container {
  background: RGB($grey);
}

:root snack-bar-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: black;
  background-color: #ff6f00;
}
