@use '@angular/material' as mat;
@include mat.core();

$hfht-website-primary: mat.define-palette(mat.$grey-palette);
$hfht-website-accent: mat.define-palette(mat.$amber-palette, 800, 700, 900);
$hfht-website-warn: mat.define-palette(mat.$red-palette);

$hfht-website-theme: mat.define-dark-theme((
  color: (
    primary: $hfht-website-primary,
    accent: $hfht-website-accent,
    warn: $hfht-website-warn,
  )
));

@include mat.all-component-themes($hfht-website-theme);

$icon-grey: 166, 166, 166;
$grey: 34, 34, 34;
$white: 255, 255, 255;
$link-blue: 0, 184, 255;

html, body { 
  height: 100%; 
}

body {
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: white;
}

button {
  background-color: transparent;
  height: 24px;
  width: 24px;
  border-style: none;
  padding: 0;
  &:hover {
      cursor: pointer;
  }
}

line,
polyline,
polygon,
path {
  stroke: RGB($icon-grey);
}

:root mat-dialog-container {
  background: RGB($grey);
}

